# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp

# Logs & Data (防止大文件上传)
*.log
es-data/
zeek-logs/
web-logs/
db-logs/
internal-logs/
dc-logs/
infrastructure/range/honeypots/
# 忽略 Elasticsearch 运行时产生的二进制数据
data/elasticsearch/

# 忽略 Cowrie 蜜罐产生的原始日志和状态文件
infrastructure/range/honeypots/cowrie/var/log/
infrastructure/range/honeypots/cowrie/var/lib/
